<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-buttons mode="md" slot="start">
      <ion-back-button text="" mode="md" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

  <div class="map center_img">
    <img src="assets/images/map.png" class="img_box">
    <ion-icon class="zmdi zmdi-pin" style="left:32%; top: 57%;"></ion-icon>
    <ion-icon class="zmdi zmdi-navigation" style="left:70%; top: 33%;"></ion-icon>
  </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
  <div class="form">
    <ion-list lines="none">
      <ion-card class="deliverymanInfo animate__animated animate__fadeInUp">
        <div class="pullup"></div>
        <ion-item lines="none">
          <div class="item_inner d-flex ion-align-items-center">
            <div class="img_box center_img">
              <img src="assets/images/avatars/img7.png" class="crop_img">
            </div>
            <div class="text_box" style="padding-top: 6px;">
              <h2 class="d-flex">
                <strong>Today, 8:21 am</strong>
                <ion-badge class="end">
                  5.0
                  <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
                </ion-badge>
              </h2>
              <h3 class="d-flex">
                <strong>Samantha Smith</strong>
                <span class="end"> {{'rated_you' | translate}}</span>
              </h3>
            </div>
          </div>
        </ion-item>
      </ion-card>

      <h5 class="animate__animated animate__fadeInUp d-flex">
        {{'trip_details' | translate}}
        <span class="end">20.8 km (15 min)</span>
      </h5>

      <ion-card class="locationInfo animate__animated animate__fadeInUp">
        <ion-item lines="none">
          <div class="item_inner d-flex">
            <div class="icon_box">
              <ion-icon class="zmdi zmdi-pin ion-text-center"></ion-icon>
            </div>
            <div class="text_box">
              <h3>{{'pickup_location' | translate}}</h3>
              <h2>1141 Central Park, Hemilton</h2>
            </div>
          </div>
        </ion-item>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ion-item lines="none">
          <div class="item_inner d-flex">
            <div class="icon_box">
              <ion-icon class="zmdi  zmdi-navigation ion-text-center"></ion-icon>
            </div>
            <div class="text_box">
              <h3>{{'drop_off_location' | translate}}</h3>
              <h2>8659 New Dr. Jamestownm NY 14701</h2>
            </div>
          </div>
        </ion-item>
      </ion-card>


      <ion-card class="payment_info animate__animated animate__fadeInUp">
        <ion-item lines="none">
          <div class="item_inner d-flex">
            <div class="text_box">
              <h2 class="d-flex">{{'ride_cost' | translate}}
                <strong class="end">$8.00</strong>
              </h2>
            </div>
          </div>
        </ion-item>
        <ion-item lines="none">
          <div class="item_inner d-flex">
            <div class="text_box">
              <h2 class="d-flex">{{'payment_method' | translate}}
                <strong class="end">
                  <img src="assets/images/icons/ic_wallet.png">&nbsp;
                  Wallet
                </strong>
              </h2>
            </div>
          </div>
        </ion-item>

        <ion-item lines="none">
          <div class="item_inner d-flex">
            <div class="text_box">
              <h2 class="d-flex">{{'ride_type' | translate}}
                <strong class="end">MiniRide</strong>
              </h2>
            </div>
          </div>
        </ion-item>
      </ion-card>

      <ion-card class="payment_info animate__animated animate__fadeInUp">
        <ion-item lines="none" style="border-bottom:0 !important ;">
          <div class="item_inner d-flex">
            <div class="text_box">
              <h2 class="d-flex">{{'booking_id' | translate}}
                <strong class="end">FD148HF667</strong>
              </h2>
            </div>
          </div>
        </ion-item>
        <ion-item lines="none">
          <div class="item_inner d-flex">
            <div class="text_box">
              <h2 class="d-flex">{{'ride_completed' | translate}}
                <strong class="end">Today, 12:35 PM</strong>
              </h2>
            </div>
          </div>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
</ion-content>