ion-header {
    ion-toolbar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .map {
        height: 270px;
    }

    ion-icon {
        position: absolute;
        color: #fff;
        background: var(--primary);
        margin: auto;
        text-align: center;
        line-height: 30px;
        font-size: 1.1rem;
        border-radius: 50%;
        width: 30px;
        height: 30px;

        &.zmdi-navigation {
            background: var(--primary);
        }
    }

}

.form {
    width: 100%;

    ion-list {
        h5 {
            margin: 0;
            padding: 7px 20px 13px;
            color: var(--text-light2);
            font-size: 1rem;
            background: var(--bg-color);
            span{
                color: var(--text-black);
                font-size: .85rem;
                font-weight: 600;
                min-width: fit-content;
            }
        }

        
        ion-card {
            width: 100%;
            margin: 0;
            padding: 6px 15px;
            background: var(--bg-white);
            border-radius: 0;
            box-shadow: none; 
            border-bottom:10px solid var(--bg-color) ;

            .img_box {
                min-width: 60px;
                height: 60px;
                border-radius: 10px;
                margin-right: 15px;

            }

            &:last-child {
                border-bottom: 0 !important;
            }

            ion-item {
                margin: 0;
                padding: 10px 0;
                --min-height: unset !important;
                overflow: hidden !important;
                border-bottom: 2px dotted var(--border-line-color);

                &:last-child {
                    border-bottom: 0 !important;
                }

                .item_inner {
                    align-items: flex-start;
                    overflow: hidden;
                    max-width: 100%;
                }

    
                .text_box {
                    width: 100%;
                    overflow: hidden;

                    h2 {
                        margin: 0;
                        font-size: 1.02rem;
                        color: var(--text-black);
                        font-weight: 500;
                        padding-bottom: 8px;
                        overflow: hidden;
                        max-width: 100%;
                        strong {
                            font-weight: 600;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        ion-badge {
                            background: var(--primary);
                            color: var(--text-white);
                            border-radius: 50px;
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            font-size: 0.6rem;
                            padding: 3px 9px;
                            min-width: 20px;

                            ion-icon {
                                color: var(--text-white);
                                font-size: .8rem;
                                padding: 0;
                                min-width: 16px;
                            }
                        }
                    }

                    h3 {
                        margin: 0;
                        color: var(--text-light2);
                        font-size: 0.8rem;
                        font-weight: 500;

                        span {
                            min-width: fit-content; 
                        }
                    }

                }


            }


            &.locationInfo {
                position: relative;

                .dots {
                    position: absolute;
                    left: 23px;
                    top: 45px;

                    span {
                        display: block;
                        background: var(--border-line-color);
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        margin: 3.5px 0;
                    }
                }

                ion-item {
                    border: none !important;
                    min-height: 70px !important;

                    .text_box {
                        h3 {
                            color: var(--text-light2);
                            font-size: 0.9rem;
                            padding-bottom: 4px;
                            padding-top: 3px;
                        }

                        h2 {
                            font-weight: 600;
                            padding: 0;
                            font-size: 1.0rem;
                        }
                    }

                    .icon_box {
                        min-width: 35px;

                        ion-icon {
                            height: 20px;
                            background: var(--primary);
                            color: var(--text-white) !important;
                            line-height: 20px;
                            padding: 0;
                            border-radius: 50%;
                            font-size: .85rem;
                            min-width: 20px;
                        }
                    }
                }
            }


            &.payment_info {
                ion-item {  
                    .text_box {
                        h2 {
                            padding: 0;
                            font-size: 1.0rem;

                            strong {
                                font-weight: 600;
                                color: var(--text-black);
                                display: flex;
                                align-items: center;
                                min-width: fit-content;

                                img {
                                    width: 20px;
                                    min-width: 20px;
                                    max-height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}