<ion-header>
  <ion-toolbar>
    <ion-buttons mode="md" slot="start">
      <ion-back-button text="" mode="md" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
  <div class="header_text">
    <h1>{{"ratings" | translate}}</h1>
    <h2 class="d-flex"><strong>4.8 <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon></strong>&nbsp;&nbsp;&nbsp;  1080
      {{"people_rated" | translate}}</h2>
  </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <div class="form">
    <ion-list lines="none">
      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img1.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Samantha Smith</span>
              <ion-badge class="end">
                5.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>


      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img2.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Emily Williams</span>
              <ion-badge class="end">
                5.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img3.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Michael Johnson</span>
              <ion-badge class="end">
                5.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img4.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Jennifer Davis</span>
              <ion-badge class="end">
                4.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img5.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>David Brown</span>
              <ion-badge class="end">
                3.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img6.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Emily Williams</span>
              <ion-badge class="end">
                4.5
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img1.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Samantha Smith</span>
              <ion-badge class="end">
                5.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>


      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img2.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Emily Williams</span>
              <ion-badge class="end">
                5.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img3.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Michael Johnson</span>
              <ion-badge class="end">
                5.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img4.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Jennifer Davis</span>
              <ion-badge class="end">
                4.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img5.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>David Brown</span>
              <ion-badge class="end">
                3.0
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>

      <ion-item class="animate__animated animate__fadeInUp" lines="none">
        <div class="item_inner d-flex">
          <div class="img_box">
            <img src="assets/images/avatars/img6.png">
          </div>
          <div class="text_box">
            <h3 class="d-flex"><span>Emily Williams</span>
              <ion-badge class="end">
                4.5
                <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
              </ion-badge>
            </h3>
            <h4 class="d-flex">
              20 Jun, 10:20 AM
            </h4>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>