.form {
    padding-top: 20px;
    ion-item {
        .input_box {
            align-items: flex-end;
            max-height: 52px;
            overflow: hidden;
        }
        ion-input {
            --placeholder-color: var(--text-gray) !important;
            --placeholder-font-weight: 400 !important;
            font-size: 1.0rem !important;
            letter-spacing: 1px !important;
            position: relative;
        }
    }
    h3 {
        margin: 0;
        margin-top: 24px;
        color: var(--text-light2);
        font-weight: 400;
        font-size: 1.0rem;
        span {
            min-width: fit-content;
            color: var(--text-black);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.05rem;
        }
    }
}