<ion-header>
    <ion-toolbar>
        <ion-buttons mode="md" slot="start">
            <ion-back-button text="" mode="md" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
    <div class="header_text">
        <h1>{{'password_change'|translate}}</h1>
        <h2 >{{'create_a_new_password_for_your_account'|translate}}</h2>
    </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none" class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <ion-label mode="md">{{'password' | translate}} *</ion-label>
                    <div class="input_box">
                        <ion-input [(ngModel)]="password1" type="password" placeholder="{{ 'new_password' | translate }}"></ion-input>
                    </div>
                </div>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <ion-label mode="md">{{ 'repeat_password' | translate}} *</ion-label>
                    <div class="input_box">
                        <ion-input [(ngModel)]="password2" type="password" placeholder="{{ 'repeat_password' | translate}}"></ion-input>
                    </div>
                </div>
            </ion-item>

            <ion-button mode="md" fill="solid" shape="full" class="btn animate__animated animate__fadeInUp" (click)="submit()">
                {{'continue' | translate}}
            </ion-button>
        </ion-list>
    </div>
</ion-content>