ion-header .header_text {
    min-height: fit-content;
    padding-bottom: 25px;
}

.form {
    padding-bottom: 35px;

    ion-list {
        ion-item {
            min-height: unset !important;
            --min-height: unset !important;

            ion-textarea {
                --placeholder-color: var(--text-light) !important;
                --placeholder-font-weight: 500 !important;
                font-size: 1.05rem !important;
            }

        }
    }
}

.content_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/support_bg.png');
    background-size: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: bottom;
}