
<ion-content class="bg_white" fullscreen>
  <div class="map center_img">
    <app-map></app-map>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="earningsToday animate__animated animate__fadeInUp">
    <ion-row>
      <ion-col size="">
        <div class="d-flex" style="width: fit-content; margin: 0 auto">
          <ion-icon color="red" class="zmdi zmdi-fire ion-text-start"></ion-icon>
          <div class="text_box">
            <h2>Focos activos cerca de ti</h2>
            <h3>2</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
