<ion-header>
  <ion-toolbar>
    <ion-buttons mode="md" slot="start">
      <ion-back-button
        text=""
        mode="md"
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

  <div class="header_text">
    <h1 class="animate__animated animate__fadeInUp">
      {{"terms_conditions" | translate}}
    </h1>
  </div>
</ion-header>

<ion-content class="bg_white" fullscreen>
  <div class="container">
    <h2 class="animate__animated animate__fadeInUp">
      Términos y Condiciones Ubik Conductor
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Bienvenido a Ubik, una aplicación móvil de servicios de transporte de
      pasajeros operada por Ubik. Al utilizar la aplicación Ubik ("la
      Aplicación"), usted acepta cumplir con estos términos y condiciones
      ("Términos"). Lea detenidamente estos Términos antes de utilizar la
      Aplicación. Al registrarse como conductor en Ubik, usted acepta cumplir
      con los siguientes términos y condiciones:
    </p>

    <h2 class="animate__animated animate__fadeInUp">Uso de la Aplicación:</h2>
    <p class="animate__animated animate__fadeInUp">
      La Aplicación es un servicio de solicitud de taxis que conecta a los
      usuarios con conductores registrados en nuestra empresa.
      <br />
      Al utilizar la Aplicación, usted reconoce y acepta que solo puede
      solicitar servicios de transporte a través de conductores pertenecientes a
      nuestra red de conductores registrados. No se permite el uso de
      conductores externos a nuestra red. <br />1.3 Usted comprende y acepta que
      la Aplicación recopila y utiliza su ubicación en tiempo real con el
      propósito de facilitar la solicitud y el seguimiento de los servicios de
      transporte.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Registro y Cuenta de Usuario:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Para utilizar la Aplicación, es necesario que se registre y cree una
      cuenta de usuario.
      <br />Usted acepta proporcionar información precisa, actual y completa
      durante el proceso de registro. Es su responsabilidad actualizar dicha
      información conforme sea necesario para mantener su exactitud y vigencia.
      <br />Usted es responsable de mantener la confidencialidad de su
      contraseña y de cualquier otra información relacionada con su cuenta.
      Cualquier actividad realizada a través de su cuenta será de su exclusiva
      responsabilidad.
    </p>
    <h2 class="animate__animated animate__fadeInUp">Tarifas y Pagos:</h2>
    <p class="animate__animated animate__fadeInUp">
      Las tarifas de los servicios de transporte se determinarán según el
      tiempo, la distancia recorrida y otros factores relevantes, tal como se
      detalla en la Aplicación.
      <br />
      Al solicitar un servicio de transporte a través de la Aplicación, usted
      acepta pagar la tarifa correspondiente según lo indicado en la misma.
      Todas las tarifas son finales y no reembolsables, salvo que la empresa
      disponga lo contrario. <br />
      El pago se realizará a través de los métodos de pago aceptados en la
      Aplicación. Usted autoriza a Ubik a cobrar automáticamente dichos pagos
      utilizando el método de pago que haya seleccionado al registrar su cuenta.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Responsabilidad del Usuario:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      4.1 Usted es responsable de su conducta al utilizar la Aplicación y se
      compromete a no utilizarla con fines ilegales, fraudulentos o inadecuados.
      <br />4.2 Usted se compromete a no causar molestias, inconvenientes, daños
      materiales o personales, ya sea a los conductores o a terceros, mientras
      utiliza los servicios de transporte solicitados a través de la Aplicación.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Limitación de Responsabilidad:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      5.1 En la máxima medida permitida por la ley aplicable, Ubik, sus
      funcionarios, directores, empleados y agentes no serán responsables de
      ningún daño directo, indirecto, incidental, especial, consecuente o
      punitivo, incluidos, entre otros, los daños personales, la pérdida de
      datos, la pérdida de beneficios, el lucro cesante, el uso indebido de
      información o cualquier otro daño que surja del uso o la imposibilidad de
      utilizar la Aplicación.
      <br />5.2 Ubik no garantiza la disponibilidad, puntualidad, seguridad o
      fiabilidad de los servicios de transporte solicitados a través de la
      Aplicación.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Modificaciones y Terminación:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      6.1 Ubik se reserva el derecho de modificar, suspender o dar por terminada
      la Aplicación o cualquier parte de la misma, en cualquier momento y por
      cualquier motivo, sin previo aviso.
      <br />6.2 Ubik se reserva el derecho de modificar estos Términos en
      cualquier momento. Las modificaciones entrarán en vigencia tan pronto como
      se publiquen en la aplicación. Es responsabilidad del usuario revisar
      periódicamente estos Términos para estar al tanto de cualquier cambio.
    </p>
    <h2 class="animate__animated animate__fadeInUp">Ley Aplicable:</h2>
    <p class="animate__animated animate__fadeInUp">
      7.1 Estos Términos se regirán e interpretarán de acuerdo con las leyes de
      Colombia, país donde opera nuestra empresa.
      <br />
      7.2 Al utilizar la Aplicación, usted acepta estos Términos y se compromete
      a cumplirlos. Si no está de acuerdo con estos Términos, no utilice la
      Aplicación.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Cumplimiento de Normas de Tránsito:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Como conductor, usted se compromete a cumplir con todas las leyes y
      regulaciones de tránsito vigentes en la jurisdicción donde presta sus
      servicios. Esto incluye, entre otros, respetar los límites de velocidad
      establecidos, detenerse en señales de alto y ceder el paso según
      corresponda.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Tolerancia Cero para el Alcohol y Drogas:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Usted reconoce y acepta que está prohibido conducir bajo la influencia de
      alcohol, drogas o sustancias que afecten su capacidad para operar un
      vehículo de manera segura. Se espera que los conductores mantengan un
      nivel de alcohol en sangre de cero por ciento (0.00%) mientras estén en
      servicio.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Prohibición de Fumar en el Vehículo:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Se prohíbe fumar dentro del vehículo mientras está en servicio con un
      pasajero. Los conductores deben garantizar un ambiente limpio y libre de
      humo para todos los usuarios de la aplicación.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Condiciones del Vehículo:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Usted se compromete a mantener su vehículo en condiciones adecuadas para
      proporcionar un servicio seguro y cómodo a los pasajeros. Esto incluye el
      mantenimiento regular del vehículo, la limpieza interior y exterior, y el
      cumplimiento de los estándares de seguridad establecidos por las
      autoridades competentes.
    </p>
    <h2 class="animate__animated animate__fadeInUp">Conducta Profesional:</h2>
    <p class="animate__animated animate__fadeInUp">
      Como conductor de Ubik, se espera que trate a todos los pasajeros con
      cortesía y respeto en todo momento. Se prohíbe cualquier forma de
      discriminación, acoso o comportamiento inapropiado hacia los pasajeros.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Colaboración con la Empresa:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Usted acepta colaborar con la empresa en caso de investigaciones
      relacionadas con su conducta como conductor, incluyendo la revisión de
      incidentes reportados por los usuarios.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Cumplimiento de las Políticas de la Empresa:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Usted se compromete a cumplir con todas las políticas y procedimientos
      establecidos por Ubik, incluyendo las relacionadas con tarifas, horarios y
      seguridad del usuario.
    </p>
    <h2 class="animate__animated animate__fadeInUp">
      Responsabilidad del Conductor:
    </h2>
    <p class="animate__animated animate__fadeInUp">
      Como conductor, usted asume la responsabilidad de cualquier infracción de
      tránsito, daño a la propiedad o lesión personal que pueda ocurrir mientras
      esté prestando servicios a través de la aplicación. Al registrarse como
      conductor en Ubik, usted acepta estos términos y se compromete a cumplir
      con ellos en todo momento. El incumplimiento de estos términos puede
      resultar en la suspensión o terminación de su cuenta como conductor
    </p>
    <h2 class="animate__animated animate__fadeInUp">Contacto:</h2>
    <p class="animate__animated animate__fadeInUp">
      Si tiene alguna pregunta o inquietud sobre estos Términos, comuníquese con
      nosotros a través de ubikapp2024@gmail.com.
    </p>
  </div>
</ion-content>
