<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button class="animate__animated animate__fadeInUp btnA" tab="home">
            <div class="tab-button-inner d-flex">
                <ion-icon class="zmdi zmdi-map"></ion-icon>
                <ion-label>Mapas</ion-label>
            </div>
        </ion-tab-button>


        <ion-tab-button class="animate__animated animate__fadeInUp secondary_tabs" tab="account">
            <div class="tab-button-inner d-flex">
                <ion-icon class="zmdi zmdi-account"></ion-icon>
                <ion-label>{{"account" | translate}}</ion-label>
            </div>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>